body {
    font-family: "Arial", Helvetica, sans-serif; /* Tipo De Letra Arial */
    color: #4169E1; /* Color Azul Real En Hexadecimal */
    text-align: justify; /* Texto Justificado */
    font-size: 16pt; /* Letra Tamaño 16 Puntos */
    position: absolute; /* Posicionada De Manera Absoluta */
    background-size: cover; /* Para Que Cubra Toda El Área */
    background-color:bisque; /* Color Del Fondo*/
}

img {
    width: 300px;
    height: 300px;
}

.Titulo {
    background-color: cadetblue; /* Color Fondo Del Parrafo A Elección */
    color: aqua; /*Color Letra Del Parrafo A Elección */
    padding: 5px;
}
